html,
body,
#app {
  margin: 0;
  padding: 0;
}

html.dark {
  background: #222;
  color: white;
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
}
.mb-8{
  margin-bottom:8px;
}
.mb-12{
  margin-bottom: 12px;
}
.mb-16{
  margin-bottom: 16px;
}